extends layout

block content
  .block.block--full
    h1= title
  .block.block--full
    h2 FAQ
    h3 Why isn't my camera functioning?
    p It's possible that you need to allow the browser access to your camera. It should have asked you the first time you clicked on the file upload, however, sometimes it doesn't.
  .block.block--full
    h1.text--left Getting Started
    h2 Admin & Teachers
    p Getting started with MorTraqr is easy! Simply contact us at <a href="mailto:mortraqr@gmail.com" target="_blank"> mortraqr@gmail.com</a>. We will provide you with the instructions you need to register admin and teacher profiles, as well as create payment instructions for either your school or your students.
    h3 Tutorial Video     
    .video_wrapper
        iframe(src="https://player.vimeo.com/video/261169509" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    h2 Student
    p Getting started with MorTraqr is very simple. Visit the <a href="/register" target="_blank"> register</a> page. Enter the required information, including the email you wish to use. Then simply enter your payment information for either a 1 year or 6 month subscription or the offer code given to you by your school administrator.
    h3 Tutorial Video     
    .video_wrapper.video_wrapper--port
      iframe(src="https://player.vimeo.com/video/261169529" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    h2 Preceptor
    p For you as the preceptor, the process is very simple. You do not require a log in whatsoever to MorTraqr, and all of your activities can be accessed from either your phone or PC.  Simply supply your email address to the student(s) you are supervising. Once they have completed a task, they will enter your email from their log in.
    .block.block--full.block__all_center  
    h3 Tutorial Video      
    .video_wrapper.video_wrapper--port
        iframe(src="https://player.vimeo.com/video/261169692" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

