extends layout

block content
  .block.block--full
    h1 Terms and Conditions
    p MorTraqr and RynoFlip are not responsible for the quality of the preceptors and are not responsible for the assignment of preceptors to students. Users should follow the policy of their school 

    p MorTraqr and RynoFlip are not responsible for the content of photos or documents uploaded. Quality and content of any documents are the responsibility of the user. This includes but is not limited to all personal information or images of deceased individuals. 

    p As a service to the user, MorTraqr will store user information for up to 7 years. Users are also responsible for the export of their information 

    p MorTraqr  and RynoFlip reserves the right to use user information with the name redacted for presentations or marketing purposes

    p MorTraqr uses a 3rd party payment service to process payments. Breach of payment information is not the responsibility of RynoFlip or MorTraqr

    p All functions and coding is the property of RynoFlip and MorTraqr 

    p Any information shared from a MorTraqr link or email outside of normal use of the application  is the responsibility of the user, preceptor, or school. 
